<section class="section">
    <div class="content authors">
        <!-- <h2 class="section__head authors__head"></h2> -->
        <article class="authors__card card">
            <div class="card__email-wrap">
                <p class="section__desc card__email-desc">Chcesz być na bieżąco z nowościami w aplikacji?
                </p>
                <p class="section__desc card__email-desc card__email-desc--green">Zostaw swój email!</p>

                <form class='card__form form'>
                    <input type="email" class="form__input">
                    <button class="form__button"><i class="far fa-paper-plane"></i></button>
                </form>
            </div>

            <div class="card__authors-wrap">
                <p class="section__desc card__auhtors-desc">
                    Aplikacja wykonana przez <br /> <strong class="violet"><a href="#">Toucan Apps</a></strong>
                </p>
                <ul class="card__authors-list authors-list">
                    <li class="authors-list__element">
                        <a href="#" class='authors-list__link'>
                            <i class="authors-list__icon fab fa-facebook"></i>
                            <!-- <i class="authors-list__icon fas fa-globe"></i> -->


                            <h3 class="authors-list__social">Toucan Apps</h3>
                        </a>
                    </li>

                    <li class="authors-list__element">
                        <a href="#" class='authors-list__link'>
                            <i class="authors-list__icon fas fa-globe"></i>
                            <h3 class="authors-list__social">www.toucan-apps.pl</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</section>