<section class="section">
    <div class="content home">
        <div class="home__text-box">
            <h1 class="home__name">Co by dziś zjeść?</h1>
            <h2 class="content__head home__head">
                Znajdź przepis na bazie swoich produktów
            </h2>
            <p class="content__desc home__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                vel venenatis lorem. Quisque tincidunt vestibulum nulla, vitae
                sagittis enim varius sit amet. Pellentesque scelerisque justo
                risus, eu imperdiet sem posuere eu.
            </p>
        </div>
        <img class="home__image-phone home__image-phone--small" src="assets/phone-main/big.png"
            alt="Zdjęcie Aplikacji W telefonie" />
        <img class="home__gp-button" src="assets/google-play.jpg" alt="Pobierz z google play" />

        <div class="home__green-box"></div>
    </div>
</section>