<section class="section">
    <div class="content home">
        <div class="home__text-box">
            <h1 class="home__name">Co by dziś zjeść?</h1>
            <h2 class="content__head home__head">
                Znajdź przepis na bazie swoich produktów
            </h2>
            <p class="content__desc home__desc">
                Masz jedzenie w <strong>kuchni</strong> i zastanawiasz się,
                jakie jedzenie można z niego przyrządzić? Z
                <strong>aplikacją</strong>
                <strong>Co by dziś zjeść, nie jest to żadnym problemem!</strong>
                Zaznacz wszystkie <strong>składniki</strong>, które posiadasz i
                znajdź odpowiedni <strong>przepis!</strong>
            </p>
        </div>
        <img
            class="home__image-phone home__image-phone--small"
            src="assets/phone-main/big.png"
            alt="Zdjęcie Aplikacji W telefonie"
        />
        <img
            class="home__gp-button"
            src="assets/google-play.jpg"
            alt="Pobierz z google play"
        />

        <div class="home__green-box"></div>
    </div>
</section>
